<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
<cbid>EAGLE_00004</cbid>
<replay>
   <write>
      <data>aPenFullOfSheep:)\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1730885938\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1793313123\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,1277811481\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1898164652\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1302954150\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1945166393\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1200660900\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1616791444\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1926016868\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1971904431\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m4,r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1313352928\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,1516843584\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m5\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m5\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m6,r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 836111201\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m7\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m7\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m8\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m8\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m9\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m9\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m10,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m11,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m12,r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1022020184\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m13\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m13\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,804832502\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1915563242\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m14,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m15,r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -690927374\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 2119938804\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1314811262\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m16\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m16\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-606389406\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1912839800\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m17,r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1224900734\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,346571912\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m18,r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1517616816\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m19,r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1531293129\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1940229941\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m20\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m20\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1913782869\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -26835320\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m21,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m22,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m23\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m23\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -988831663\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m24,r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1912250040\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m25\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m25\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-2048454040\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m26\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m26\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,694936624\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1535692679\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m27\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m27\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m28,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m29\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m29\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m30\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m30\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m31,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m32\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m32\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1301162472\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r2,m0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1690850674\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r2,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 422712668\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m1\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r2,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m2\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r2,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m3\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r2,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m4\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r2,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m5\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r2,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r2,m6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1313352928\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r2,m7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 477241727\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r2,m8\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1622075036\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m9\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r2,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -355215376\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r2,m10\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m11\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r2,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r2,m12\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m13\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r2,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1022020184\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1489693244\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m14\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r2,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1489693244\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r2,3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 186211655\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m15\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r2,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 991044157\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1025643067\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r2,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 8012836\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r2,m16\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 8012836\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r2,m17\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1904826964\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m18\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r2,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1558255052\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r2,m19\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -40638236\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m20\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r2,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1515547852\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r2,m21\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1973195872\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m22\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r2,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r2,m23\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m24\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r2,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r2,m25\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r2,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r2,m26\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m27\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r2,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1535692679\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r2,m28\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1592272208\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r2,m29\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -367371474\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r2,m30\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 192184732\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r2,6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 3002886\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r2,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 187680\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m31\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r2,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 187680\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 750720\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r2,6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 11730\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m32\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r2,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 690939104\n</data>
      <data>END\n</data>
   </write>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb2567f5a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x73f0e239\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8edc4e54\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x605e4794\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8a772051\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5a693240\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb1b7d320\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x31d60b61\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8d33509c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb86f5e5c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4c29db19\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x951c369d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x672b3932\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc31535a8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8dd2d316\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2ff8c4f6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb1a19282\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8dfc6188\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x14a84488\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5a74feb0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x73a58f35\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfe668688\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x72120255\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa4ba5237\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc50fa051\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x71fa9eb8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x85e71268\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa4773079\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x296be430\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb6fd7f82\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdbdb3b62\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7e5bb2f4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd6d148f2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x64c85572\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x64c85572\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1932155c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1932155c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4e482ce0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4e482ce0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1c72217f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1c72217f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9f511964\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9f511964\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xead3d7f0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xead3d7f0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3ceaca58\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3ceaca58\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x58caea3c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x58caea3c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x58caea3c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x58caea3c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0b195d47\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0b195d47\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3b12223d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3b12223d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3d22123b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3d22123b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x007a4424\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x007a4424\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x007a4424\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x007a4424\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8e76a5ac\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8e76a5ac\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa31eea34\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa31eea34\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfd93e8e4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfd93e8e4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa5aa9334\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa5aa9334\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8a636ba0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8a636ba0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa4773079\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa4773079\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa117dab0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa117dab0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xea1a5b2e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xea1a5b2e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0b74819c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0b74819c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x002dd206\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x002dd206\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0002dd20\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0002dd20\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0002dd20\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0002dd20\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x000b7480\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x000b7480\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00002dd2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00002dd2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x292ee4e0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x292ee4e0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>COMPLETE\n</data></match></read>
</replay>
</pov>
