<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
<cbid>EAGLE_00004</cbid>
<replay>
   <write>
      <data>aPenFullOfSheep:)\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1030991030\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 979979343\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1660417355\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1763714979\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m1,r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,947201454\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,1620618302\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m2,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m3,r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1938451204\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m4,r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 345850063\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m5\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m5\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1338237805\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1911404508\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m6,r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -2067691438\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m7\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m7\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m8\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m8\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m9\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m9\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1589865382\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1986777959\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1309489415\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1050672003\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m10\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m10\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m11\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m11\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m12\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m12\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1294447265\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m13\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m13\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m14,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m15,r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1838547839\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,1969279525\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -978258576\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 812541534\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m16,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m17,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m18,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m19,r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,2020280037\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m20,r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,271825947\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 2043353222\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -843876623\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,1026716245\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m21,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m22\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m22\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m23\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m23\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1602097588\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,1343567380\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m24,r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1150284766\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m25,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m26,r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,1051821213\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m27,r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1978633484\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,1444904912\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m28\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m28\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-463725213\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 959540246\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 572624448\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1279829942\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1957064023\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m29,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m30,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m31,r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1985265469\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m32\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m32\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m33\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m33\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m34\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m34\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m35,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m36\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m36\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1390770533\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m0\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 410791190\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r1,m1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 716115714\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m2\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1649739140\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r1,m3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 2065050696\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r1,5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1657112832\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 9028962\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m4\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1929422242\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r1,m5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 2019694991\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1894161800\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r1,m6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m7\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m8\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m9\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m10\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m11\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1309489415\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m12\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1564456657\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r1,m13\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -270009392\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r1,m14\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1239598880\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r1,m15\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 208607850\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m16\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1021149384\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r1,m17\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1999407960\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r1,m18\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 30128435\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r1,5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 964109920\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r1,3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -877055232\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r1,m19\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r1,m20\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 2020280037\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 252535004\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r1,0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 252535004\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r1,m21\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1279251249\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m22\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r1,6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -64\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r1,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -8192\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 14745599\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -8192\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -4096\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m23\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2043357318\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r1,m24\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r1,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -16\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r1,5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -512\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -128\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2130706433\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r1,m25\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1720710110\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r1,m26\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 118612522\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r1,5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -499366592\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1078279394\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 134784924\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r1,m27\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 134784924\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1666775032\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m28\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -221870120\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m29\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 10542488\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r1,m30\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 710168048\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m31\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 137543600\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1329647096\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m32\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1329647096\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m33\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -370106850\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 513732841\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r1,m34\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 977458054\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r1,m35\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1001175430\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r1,m36\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1273001377\n</data>
      <data>END\n</data>
   </write>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3a694c4f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x692027a3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6098ac3e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x387525ae\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8c7594fc\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x149d40cf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8e124824\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x84c18852\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb03c1c93\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x62f7f54b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc160047d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4e0d3907\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x89942c99\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb2d84d5f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa13c945a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc28c534a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x306e665e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc5b0f570\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7560d225\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9269fc81\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x786b06e5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3d327255\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xcdb376f1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x79cb1886\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x50153614\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbb700c22\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5f7e11b4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3eb1849d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x561f7fd0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8b5992a9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb3b7584a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x22218e40\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x89ab40c3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x39316c16\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe45c1d63\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x75ef8d0c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1033bc1b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x187c2d16\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x187c2d16\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2aaf0f02\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2aaf0f02\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9daafa7c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9daafa7c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7b162c48\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7b162c48\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x62c58900\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x62c58900\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0089c562\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0089c562\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8cff5a5e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8cff5a5e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7862198f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7862198f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8f196278\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8f196278\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4e0d3907\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4e0d3907\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa2c0492f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa2c0492f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xefe7fbd0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xefe7fbd0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x49e2c720\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x49e2c720\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0c6f1a6a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0c6f1a6a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3cdd80c8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3cdd80c8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x772c8b58\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x772c8b58\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x01cbb933\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x01cbb933\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x39772660\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x39772660\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xcbb93300\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xcbb93300\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x786b06e5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x786b06e5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0f0d60dc\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0f0d60dc\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0f0d60dc\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0f0d60dc\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4c3fd331\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4c3fd331\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffc0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffc0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffe000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffe000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00e0ffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00e0ffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffe000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffe000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfffff000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfffff000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8634d77a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8634d77a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfffffff0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfffffff0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfffffe00\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfffffe00\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffff80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffff80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x80ffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x80ffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x668ff3de\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x668ff3de\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0711e22a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0711e22a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe23c4540\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe23c4540\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x40453ce2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x40453ce2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0808a79c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0808a79c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0808a79c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0808a79c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9ca70808\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9ca70808\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf2c687d8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf2c687d8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00a0dd98\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00a0dd98\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2a544df0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2a544df0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0832bfb0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0832bfb0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb0bf3208\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb0bf3208\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb0bf3208\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb0bf3208\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe9f09e1e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe9f09e1e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1e9ef0e9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1e9ef0e9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3a42d386\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3a42d386\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc453467a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc453467a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb41f8a5f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb41f8a5f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>COMPLETE\n</data></match></read>
</replay>
</pov>
