<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
<cbid>EAGLE_00004</cbid>
<replay>
   <write>
      <data>aPenFullOfSheep:)\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1830506852\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1136725203\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m0,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1035930067\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1312522036\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1753617349\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,549576854\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1985300132\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m4,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m5,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m6,r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1780060856\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m7\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m7\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1628472723\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m8\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m8\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1040364606\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m9,r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1913844068\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1016135319\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1452619670\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m10,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m11,r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1604950471\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-2060336479\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1270231769\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 916806839\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m12\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m12\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,291416741\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m13,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m14,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m15\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m15\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-923659029\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1867702120\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1238020358\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m16\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m16\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m17\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m17\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m18,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m19\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m19\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m20\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m20\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1072865397\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m0\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1414218641\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m1\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1693301340\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m2\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 380779304\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m3\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m4\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1985300132\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m5\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1760090310\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r1,m6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 724160243\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r1,m7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 724160243\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m8\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2085219191\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m9\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -4489979\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r1,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -17959916\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -8979958\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m10\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -8979958\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m11\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1007155361\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m12\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 90348522\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -358915579\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -5608056\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2006078721\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r1,m13\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1714661980\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1537880935\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -384470234\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r1,m14\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -384470234\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 645076457\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m15\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1415260022\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r1,m16\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m17\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1867702121\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r1,m18\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1503606146\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 2127192230\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r1,m19\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -562824595\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m20\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 968388500\n</data>
      <data>END\n</data>
   </write>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbc3ef32d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x92e4ae9c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb1c480cc\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9779ec3b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x89aab95c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x20c1e096\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc240f62d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6a1992b8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x61108593\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3e02b43e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa96ac86a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3c90fe97\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x36a55cb7\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x115eaaa5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb449cd27\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8531c2a1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb6354efa\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x90ad2098\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc8f214eb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5fa999c7\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7212f164\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x544b4391\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x544b4391\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x64edba5c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x64edba5c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x16b23b28\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x16b23b28\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x89aab95c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x89aab95c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x68e8d8c6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x68e8d8c6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2b29cef3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2b29cef3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2b29cef3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2b29cef3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x83b61489\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x83b61489\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffbb7d05\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffbb7d05\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfeedf414\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfeedf414\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xff76fa0a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xff76fa0a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xff76fa0a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xff76fa0a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3c07f8a1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3c07f8a1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x05629bea\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x05629bea\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xea9b6205\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xea9b6205\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffaa6d88\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffaa6d88\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x886daaff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x886daaff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x99cc55a4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x99cc55a4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa455cc99\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa455cc99\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe9157326\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe9157326\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe9157326\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe9157326\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x267315e9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x267315e9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xaba4d88a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xaba4d88a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6f52df69\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6f52df69\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa660ca7e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa660ca7e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7eca60a6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7eca60a6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xde73fa6d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xde73fa6d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x39b86f94\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x39b86f94\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>COMPLETE\n</data></match></read>
</replay>
</pov>
