<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
<cbid>EAGLE_00004</cbid>
<replay>
   <write>
      <data>aPenFullOfSheep:)\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1224972338\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,2030125750\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,1155892957\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -2041719686\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m1,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m2,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1376394431\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m4\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m4\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1781028934\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m5,r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,1774317599\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-991346047\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m6,r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,1301857486\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,2081929176\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,1590712324\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1239274213\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m7\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m7\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1815639375\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1194921987\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1384234988\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m8\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m8\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-2082779446\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m9,r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,1837735624\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m10,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m11,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m12,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m13\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m13\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m14,r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -997783492\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m15\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m15\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m16\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m16\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1902746763\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m17\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m17\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-800758531\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m18\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m18\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m19\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m19\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,1286434243\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1450973951\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m20,r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,1819943262\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m21\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m21\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1661655845\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,2064874779\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m22\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m22\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m23,r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1169446470\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1059356649\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,710240606\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m24\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m24\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m25,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m26\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m26\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m27,r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1916682608\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1479108303\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m28\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m28\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,975879463\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,1428123317\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1519758664\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m29\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m29\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1870230311\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m30\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m30\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m31\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m31\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m32\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m32\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1163897889\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1777462609\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m33,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m34\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m34\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m35\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m35\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 825499077\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m36\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m36\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,1616560087\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m0\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r2,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r2,m1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2041719685\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m2\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r2,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1819267119\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 468978624\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r2,m3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1773675904\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r2,m4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -397281473\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r2,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -198640737\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r2,m5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1979669671\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r2,m6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -988323624\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r2,m7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1378692808\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m8\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r2,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1532039500\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r2,m9\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -550739946\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m10\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r2,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1286995678\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 763344768\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2135458003\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 769641280\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r2,m11\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1964563267\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m12\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r2,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 8\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 32\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r2,m13\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -636813184\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r2,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -4975103\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r2,0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -4975103\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m14\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r2,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r2,m15\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r2,m16\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r2,m17\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1902746763\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r2,m18\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2013069663\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m19\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r2,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -238752064\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -495493120\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m20\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r2,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 955480831\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 955480831\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -8719560\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m21\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r2,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1811223702\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m22\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r2,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -418868815\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m23\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r2,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2080524660\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -9592064\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 10710527\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r2,m24\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r2,5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m25\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r2,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m26\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r2,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m27\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r2,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1286434243\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r2,m28\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1529424750\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r2,m29\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1245783882\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r2,m30\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 624446429\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1492550752\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1309865792\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m31\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r2,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1556978187\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r2,m32\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -581098724\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m33\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r2,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1936405963\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -885691533\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m34\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r2,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r2,0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r2,5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r2,5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r2,m35\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1916682608\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m36\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r2,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1552785611\n</data>
      <data>END\n</data>
   </write>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x49039832\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x864dd47a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x44e586dd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x790142b6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x520a1cbf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6a285846\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc4e94281\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x49ddd2e5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xad7e4014\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x83db4eca\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6d899ec8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb8c6effd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6c38754f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5ed05804\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7c17b7d8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc487083c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4d98c4ce\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8e966375\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd04564fd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x69c1f01f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa983e501\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6c7a215e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7b137d1b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9cf524db\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2a55695e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc0db8017\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xba4ba9ba\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4cad6dc3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa7d69931\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa56a52b8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x90868cd9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x551f6eb5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3a2abd27\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x69f1ed51\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x455fac21\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8dc1be90\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x31341dc5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x864dd47b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x864dd47b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6c6fd02f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6c6fd02f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1bf40bc0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1bf40bc0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9647da80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9647da80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe851f73f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe851f73f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf428fb9f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf428fb9f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8a00a359\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8a00a359\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc51760d8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc51760d8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xadd2d138\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xadd2d138\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5b51114c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5b51114c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdf2c6016\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdf2c6016\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4cb5fede\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4cb5fede\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2d7fb780\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2d7fb780\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x80b77f2d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x80b77f2d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2ddfcb40\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2ddfcb40\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7518db43\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7518db43\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000008\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000008\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000020\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000020\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xda0b0080\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xda0b0080\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffb41601\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffb41601\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffb41601\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffb41601\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8e966375\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8e966375\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8802fea1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8802fea1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf1c4eec0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf1c4eec0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe2776000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe2776000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x38f37aff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x38f37aff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x38f37aff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x38f37aff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xff7af338\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xff7af338\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6bf51496\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6bf51496\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe70891b1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe70891b1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x83fdb68c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x83fdb68c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xff6da300\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xff6da300\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00a36dff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00a36dff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb352923d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb352923d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5b292b6e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5b292b6e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb5bed8b6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb5bed8b6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x25384bdd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x25384bdd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa7097ba0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa7097ba0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4e12f740\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4e12f740\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa33265f5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa33265f5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdd5d231c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdd5d231c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x736b35cb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x736b35cb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xcb356b73\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xcb356b73\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8dc1be90\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8dc1be90\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5c8da0cb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5c8da0cb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>COMPLETE\n</data></match></read>
</replay>
</pov>
