<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
<cbid>EAGLE_00004</cbid>
<replay>
   <write>
      <data>aPenFullOfSheep:)\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,2118860859\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m0,r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1582032127\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1382163427\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -2007293864\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m3,r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1123401275\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1446591100\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m4\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m4\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1656641365\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1563959105\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1584573056\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1793199956\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1376353673\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1506067340\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m5\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m5\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m6\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m6\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1778133908\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m7,r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1286007859\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m8\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m8\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1887963056\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m9,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m10,r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 676249480\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1942147233\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1826493199\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m11\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m11\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,1865056370\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m12\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m12\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m13\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m13\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m14\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m14\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m15\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m15\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1837478526\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m16,r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,977234171\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-455701569\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1278035899\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m17\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m17\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1393080200\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m18\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m18\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m19,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m20\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m20\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m21,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m22,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m23,r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1824324048\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m0\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 351782389\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m1\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1933814516\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r1,m2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m3\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2007293865\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r1,3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1121518264\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m4\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1726857932\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m5\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m6\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1376353672\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r1,m7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 401780236\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m8\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -376193948\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1690080233\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r1,m9\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1690080233\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m10\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -675098484\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m11\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r1,m12\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1865056370\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r1,m13\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -487763693\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r1,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1951054772\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1279571339\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r1,m14\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 603321859\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 66516259\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r1,m15\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -36057216\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -9014304\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m16\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1828464222\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1579613292\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m17\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 301577393\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m18\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1694657593\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 963379813\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m19\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1901109339\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r1,m20\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 923875168\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m21\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1807133023\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r1,3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1572162296\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m22\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 84479069\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1561069829\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r1,m23\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 437668554\n</data>
      <data>END\n</data>
   </write>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7e4b403b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa1b41b01\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xad9ddc1d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x885b2058\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa9c6c584\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa63b3c74\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xadf68277\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9603d46c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4ca6ec33\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x708807b0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x951df0ac\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6cde130f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6f2a8072\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8c3d2f5f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x284ebf88\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5e72aa80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6d85b27e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb3d2b845\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xacf74878\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe4d68bbf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3a3f68fb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa2c7e0bf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9d41a8ab\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbd0a41c5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x14f7c5f5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x14f7c5f5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7343aaf4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7343aaf4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x885b2057\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x885b2057\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x42d902b8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x42d902b8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x99123d34\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x99123d34\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xadf68278\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xadf68278\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x17f2ae0c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x17f2ae0c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe993bc64\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe993bc64\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x64bc93e9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x64bc93e9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x64bc93e9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x64bc93e9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd7c2d08c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd7c2d08c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6f2a8072\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6f2a8072\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe2ed5113\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe2ed5113\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8bb5444c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8bb5444c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4c44b58b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4c44b58b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x23f5f603\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x23f5f603\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x03f6f523\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x03f6f523\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfdd9cf80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfdd9cf80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xff7673e0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xff7673e0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6cfc265e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6cfc265e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5e26fc6c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5e26fc6c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x11f9b4b1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x11f9b4b1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x65026c39\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x65026c39\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x396c0265\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x396c0265\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7150a05b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7150a05b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x37113760\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x37113760\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x944956a1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x944956a1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa24ab508\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa24ab508\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x05090c5d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x05090c5d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5d0c0905\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5d0c0905\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1a164aca\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1a164aca\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>COMPLETE\n</data></match></read>
</replay>
</pov>
