<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
<cbid>EAGLE_00004</cbid>
<replay>
   <write>
      <data>aPenFullOfSheep:)\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1157223398\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -2064989977\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1816793783\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,1421458108\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1967529856\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,2002112896\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m2,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m4,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m5\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m5\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1923174463\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1554731874\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m6,r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 2050730504\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m7\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m7\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m8\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m8\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1948435367\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m9\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m9\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1538002148\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m10,r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-531603744\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m11\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m11\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-936297583\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m12,r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1888904874\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1009374179\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m13\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m13\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m14\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m14\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 724680868\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -942152093\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m15\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m15\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m16\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m16\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1192182126\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 2139721496\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m17,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m18,r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,787642169\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1685829729\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1774458887\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m19\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m19\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -911370796\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m20\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m20\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m21\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m21\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1520663467\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m22,r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 2073117310\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m23,r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1754364459\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m24,r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 2054628783\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m25\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m25\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m26\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m26\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1687312496\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m0\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 377677481\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m1\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r3,m2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2002112896\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m3\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -34583040\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m4\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m5\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1157223398\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r3,m6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 397508476\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1846728316\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m8\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1846728316\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m9\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 499803613\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m10\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 499803613\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m11\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -31800131\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1111221506\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -31800131\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m12\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -968097714\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -968097714\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -968097714\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m13\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -968097714\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m14\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1145784268\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 2003398760\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m15\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 672917560\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m16\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m17\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m18\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r3,m19\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m20\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m21\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1685829729\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m22\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 165166262\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r3,m23\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1831521684\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r3,m24\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1291653084\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m25\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 762975699\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -753567187\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 762975699\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m26\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 762975699\n</data>
      <data>END\n</data>
   </write>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x84eac0e7\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x54b9babc\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7755d180\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8ab9e080\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x93b5ed49\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbb062c1a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa354ac9e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7a3baa08\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8d5eafc1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8bdd3c59\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5bac0ce4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe0505ee0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc8313b91\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc3d62c1d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8f699956\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc7d7e663\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2b31c0a4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7f898f18\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x470f416e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x963be7f9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc9ad95d4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9b84479f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa55c8455\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7b91427e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x976e85d5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7a7725af\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2ef27739\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1682e6a9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1682e6a9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x88aa2e80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x88aa2e80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfdf04e00\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfdf04e00\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbb062c1a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbb062c1a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x17b17f7c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x17b17f7c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x91ed2984\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x91ed2984\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x91ed2984\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x91ed2984\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1dca65dd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1dca65dd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1dca65dd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1dca65dd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfe1ac4bd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfe1ac4bd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbdc41afe\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbdc41afe\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfe1ac4bd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfe1ac4bd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc64c004e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc64c004e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc64c004e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc64c004e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc64c004e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc64c004e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc64c004e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc64c004e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbbb4b834\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbbb4b834\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x77697068\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x77697068\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x281be838\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x281be838\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x647bb861\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x647bb861\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x09d83cb6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x09d83cb6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6d2acd94\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6d2acd94\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb302f024\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb302f024\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2d7a15d3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2d7a15d3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd3157a2d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd3157a2d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2d7a15d3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2d7a15d3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2d7a15d3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2d7a15d3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>COMPLETE\n</data></match></read>
</replay>
</pov>
