<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
<cbid>EAGLE_00004</cbid>
<replay>
   <write>
      <data>aPenFullOfSheep:)\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -2141800742\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -530627243\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m1,r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1667588951\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m2,r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,1284480032\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1684025865\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,854725579\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1460247045\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m4\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m4\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1719169201\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m5\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m5\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,1183390230\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -526480292\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,1531564692\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m6\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m6\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m7\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m7\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m8\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m8\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m9,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m10\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m10\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1370092596\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -42815394\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1588622077\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1588622077\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r3,m1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 2119249320\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1473425026\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2099963936\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 190078848\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1253705728\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1415544832\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1367212032\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m2\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m3\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r3,m6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m7\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -526480292\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 83124960\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m8\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1266515190\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m9\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 2\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 33554432\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m10\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1650471433\n</data>
      <data>END\n</data>
   </write>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8056b6da\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe05f4555\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x63656357\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4c8f9c20\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa8f665fb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x99878f4f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5b49d294\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe09e8c5c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x46891a16\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x32f213cb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x64603209\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfd72b05e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfd72b05e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5eb072fd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5eb072fd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5eb072fd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5eb072fd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7e512da8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7e512da8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa82d517e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa82d517e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x82d517e0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x82d517e0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0b545f80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0b545f80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb545f800\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb545f800\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x545f8000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x545f8000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x517e0000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x517e0000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe09e8c5c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe09e8c5c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x04f462e0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x04f462e0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4b7d7cf6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4b7d7cf6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000002\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000002\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x02000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x02000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9d9fcdf7\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9d9fcdf7\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>COMPLETE\n</data></match></read>
</replay>
</pov>
