<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
<cbid>EAGLE_00004</cbid>
<replay>
   <write>
      <data>aPenFullOfSheep:)\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,1723780674\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 2049727426\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m1,r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,1199713790\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -677967232\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1902649294\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1660446005\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1898915738\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m4\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m4\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m5\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m5\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1417651941\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,1078934778\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1827165413\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m6,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m7,r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -591024878\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m8,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m9\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m9\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1928525360\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m10,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m11\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m11\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1845443385\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r1,m0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 725743237\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m1\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -75884598\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -904430853\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -75884598\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r1,m2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 333847660\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r1,m3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1326598345\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m4\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1326598345\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r1,m5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m6\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1827165413\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -57098920\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m7\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1136033698\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r1,m8\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 2034273436\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m9\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m10\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m11\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data>END\n</data>
   </write>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x66bece42\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7a2c5bc2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x47822dfe\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x62f86535\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x712f279a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8e97e032\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9317ab1b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x404f3cfa\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdcc5ad12\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xab80591b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x72f2f630\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd7970a80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2b41f685\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2b41f685\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfb7a17ca\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfb7a17ca\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xca177afb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xca177afb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfb7a17ca\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfb7a17ca\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x13e61c6c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x13e61c6c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb0edb737\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb0edb737\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb0edb737\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb0edb737\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9317ab1b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9317ab1b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfc98bd58\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfc98bd58\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbc49805e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbc49805e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x79408c9c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x79408c9c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>COMPLETE\n</data></match></read>
</replay>
</pov>
