<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
<cbid>EAGLE_00004</cbid>
<replay>
   <write>
      <data>aPenFullOfSheep:)\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,1844852045\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,1787316874\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1219166372\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1128399770\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1976500731\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1611497690\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1667169102\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m1,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m2,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m4,r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1755743384\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m5,r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,1038435957\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 736947804\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m6\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m6\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -562974853\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m7,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m8\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m8\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m9,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m10,r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,758524841\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m11,r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1258333376\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m12\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m12\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1666640015\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m13,r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 422131065\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1778460923\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m14\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m14\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m15,r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1788289575\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m16,r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1502389825\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 2043309193\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m17\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m17\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m18,r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1189550812\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m19,r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,855038536\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1771630186\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1650852087\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m20\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m20\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,299183795\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-598697064\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1290030759\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m21,r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1662985077\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m22\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m22\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m23,r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1439760897\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m24,r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1956405812\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m25,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m26,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m27\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m27\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m28,r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-713842196\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r0,m0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r0,m1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m2\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r0,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1611497690\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r0,m3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 706968875\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r0,m4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -421430895\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r0,0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -421430895\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r0,m5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r0,0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r0,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r0,m6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r0,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r0,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r0,m7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r0,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r0,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r0,m8\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1038435957\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1950803262\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r0,m9\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -163486388\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r0,3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -20435799\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1456682754\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r0,m10\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1915292262\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m11\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r0,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1633353558\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r0,m12\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 375020182\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m13\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r0,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 822834742\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r0,m14\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1293199630\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r0,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -783642400\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -527414575\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m15\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r0,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -105283510\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r0,3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -13160439\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r0,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -52641756\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m16\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r0,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -341970300\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2064474645\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m17\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r0,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 786671299\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r0,m18\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 786671299\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1012473042\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m19\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r0,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1012473042\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m20\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r0,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 638379045\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m21\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r0,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -320857565\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m22\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r0,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r0,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m23\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r0,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -598697064\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r0,m24\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m25\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r0,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r0,m26\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 299183795\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m27\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r0,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1472446391\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m28\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r0,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data>END\n</data>
   </write>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb754ff5c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9ca104b2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9ff27f26\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8a30fe05\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbcbdfc66\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x97597b68\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2becee5c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xde71af7b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3de54675\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6a884a8a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6df6354d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2d362ba9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb4ff5b40\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9ca91771\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x95fed705\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x19293579\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9568ddd9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x79ca6c89\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa67359bf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x46e71adc\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x626600f7\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4ce44ea7\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9ce0dc8b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdc509b98\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xaa2efdff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x749c6234\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x11d52eb3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x96671196\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x32f6da48\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9ff27f26\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9ff27f26\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2a237d2b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2a237d2b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe6e17991\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe6e17991\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe6e17991\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe6e17991\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc21ab98b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc21ab98b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8bb91ac2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8bb91ac2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf641654c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf641654c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfec82ca9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfec82ca9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa92cc8fe\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa92cc8fe\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x72290a66\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x72290a66\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x615aff56\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x615aff56\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x165a5a96\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x165a5a96\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x310b7636\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x310b7636\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4d14a90e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4d14a90e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd14a90e0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd14a90e0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe0904ad1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe0904ad1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf9b9804a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf9b9804a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xff373009\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xff373009\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfcdcc024\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfcdcc024\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xeb9df284\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xeb9df284\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x84f29deb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x84f29deb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2ee3a6c3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2ee3a6c3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2ee3a6c3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2ee3a6c3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc3a6e32e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc3a6e32e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc3a6e32e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc3a6e32e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x260ce425\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x260ce425\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xece01a23\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xece01a23\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdc509b98\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdc509b98\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x11d52eb3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x11d52eb3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa83c4049\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa83c4049\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>COMPLETE\n</data></match></read>
</replay>
</pov>
