<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
<cbid>EAGLE_00004</cbid>
<replay>
   <write>
      <data>aPenFullOfSheep:)\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -2137875508\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1307365597\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m0,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1926604944\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,1904126541\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -940015791\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m3,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m4\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m4\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,1137625398\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1059801693\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1416219247\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m5\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m5\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1595846796\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m6\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m6\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1720337525\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1291717127\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 643349711\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,2065274706\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1576206881\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -843458411\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1713991753\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1540824534\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m7\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m7\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -683076112\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1741805452\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1815319727\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1840502665\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,1487753518\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m8\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m8\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1147045355\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,1205228406\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m9\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m9\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 2115275769\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-2055472935\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -958931659\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m10,r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1002669341\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m11\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m11\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1789567442\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m12,r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1995867347\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m13\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m13\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1503173205\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m14,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m15\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m15\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m16,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m17,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m18\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m18\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m19\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m19\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m20,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m21,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m22,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m23\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m23\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m24\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m24\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m25,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m26\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m26\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m27\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m27\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m28\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m28\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m29,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m30,r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1222757225\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r1,m0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2046683557\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m1\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1293478276\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m2\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1293478276\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m3\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2061473229\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m4\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -134868285\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r1,m5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1551087532\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r1,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 952403264\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m6\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m7\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m8\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m9\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1205228406\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r1,m10\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m11\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1002669341\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m12\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1002669341\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r1,m13\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1002669341\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m14\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r1,m15\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r1,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m16\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 2115275769\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m17\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1032646172\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r1,m18\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1421818459\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 355454614\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r1,m19\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2124192955\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m20\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r1,m21\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 683076112\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m22\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1897899431\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -59309358\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -926709\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m23\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -597599641\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -9337495\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r1,m24\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1566869386\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r1,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1161228524\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r1,m25\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m26\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 643349711\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -809740250\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 643349711\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m27\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 643349711\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m28\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 643349711\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -809740250\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -101217532\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 76281849\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m29\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1136083542\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 8875652\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2073131264\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -259141408\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m30\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1396766806\n</data>
      <data>END\n</data>
   </write>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4decd0dd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x80929bcc\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x717eaa4d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc7f87f51\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x72d5a890\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xab963591\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa0e14f74\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5bd71dd6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x58ad512e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x47d65376\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc6d7dd35\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3bc3851d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6aaaa1d2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x76f684d3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa66765ab\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x857bf8d9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7e148bf9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x445e85eb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6db3d789\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6c3394af\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x67d1d78c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd74915f0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x99d68fb7\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xcdb9d895\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa20cfddf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7b199752\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2658bccf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb301f5f9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9975bb8b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc0d4b5a3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x43cec936\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8602165b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8602165b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4d18e984\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4d18e984\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4d18e984\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4d18e984\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x85206a33\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x85206a33\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf7f612c3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf7f612c3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa38c4854\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa38c4854\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x38c48540\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x38c48540\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x47d65376\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x47d65376\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc43c7ae3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc43c7ae3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc43c7ae3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc43c7ae3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc43c7ae3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc43c7ae3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7e148bf9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7e148bf9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc27311e4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc27311e4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x54bf3a5b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x54bf3a5b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x152fce96\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x152fce96\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x81636345\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x81636345\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x28b6ea10\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x28b6ea10\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8ee05a59\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8ee05a59\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfc7702d2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfc7702d2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfff1dc0b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfff1dc0b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdc615a67\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdc615a67\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xff718569\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xff718569\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5d64878a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5d64878a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbac90f14\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbac90f14\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2658bccf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2658bccf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xcfbc5826\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xcfbc5826\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2658bccf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2658bccf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2658bccf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2658bccf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2658bccf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2658bccf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xcfbc5826\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xcfbc5826\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf9f78b04\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf9f78b04\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x048bf7f9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x048bf7f9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x43b74256\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x43b74256\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00876e84\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00876e84\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x846e8700\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x846e8700\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf08dd0e0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf08dd0e0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xacbf07aa\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xacbf07aa\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>COMPLETE\n</data></match></read>
</replay>
</pov>
