<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
<cbid>EAGLE_00004</cbid>
<replay>
   <write>
      <data>aPenFullOfSheep:)\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,604903785\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1816618858\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,2122386424\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1476928812\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1300542012\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1426942077\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1911928456\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m1,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m4\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m4\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m5\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m5\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1025831779\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1670923243\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m6,r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,1223934111\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m7,r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-605544071\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m8\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m8\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m9,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m10\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m10\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,1817913123\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1294265\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 40445\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -40042496\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 40445\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r3,m1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1355205736\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -338801434\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1125855648\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1125855648\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r3,m2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 301086429\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -583601647\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m3\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 716940365\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r3,m4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -2101098119\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 2043265922\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 15963015\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r3,m5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -2106423409\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1886948734\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -2106423409\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m6\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -435500166\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r3,m7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1847451846\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m8\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1241907775\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -2122281024\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m9\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -70617466\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -17654367\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -35308734\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r3,m10\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -640212519\n</data>
      <data>END\n</data>
   </write>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x93b89896\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8e0a4978\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xaaf29783\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4d84b23c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa7f7dad4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7e810bf8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x639843eb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x48f3c09f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdbe82179\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3d24f363\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x240e1969\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0013bfb9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0013bfb9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00009dfd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00009dfd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfd9d0000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfd9d0000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00009dfd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00009dfd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xaf393398\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xaf393398\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xebce4ce6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xebce4ce6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbce4ce60\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbce4ce60\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbce4ce60\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbce4ce60\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x11f236dd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x11f236dd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdd36f211\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdd36f211\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2abba44d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2abba44d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x82c3c979\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x82c3c979\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x79c9c382\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x79c9c382\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00f39387\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00f39387\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8272878f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8272878f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8f877282\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8f877282\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8272878f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8272878f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe60acb7a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe60acb7a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6e1de0c6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6e1de0c6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4a06023f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4a06023f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x81808fc0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x81808fc0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfbca7686\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfbca7686\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfef29da1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfef29da1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfde53b42\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfde53b42\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd9d721d9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd9d721d9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>COMPLETE\n</data></match></read>
</replay>
</pov>
