<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
<cbid>EAGLE_00004</cbid>
<replay>
   <write>
      <data>aPenFullOfSheep:)\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1044302052\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1876861131\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,2140098849\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1518493892\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m0,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1151981120\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1169300831\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,1816039537\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1880230282\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-2079155743\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1413565735\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 360223239\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1717332047\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m4\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m4\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m5\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m5\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 2140281800\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1496501968\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1399043327\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1297521020\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1390958072\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m6\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m6\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m7\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m7\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m8\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m8\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1991889470\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m9\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m9\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m10\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m10\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1271921976\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 418227529\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m11\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m11\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m12\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m12\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1388054195\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m13\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m13\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1998854595\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m14,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m15\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m15\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1811999323\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,2013094387\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1774361296\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1869482262\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m16\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m16\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m17,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m18,r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 2009542989\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m19\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m19\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1985379842\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m20,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m21\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m21\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m22,r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-457149728\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -2062824073\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-2063185824\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 2084032966\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m23\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m23\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m24\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m24\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 2055207350\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1436138126\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m25\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m25\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m26,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m27,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m28\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m28\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m29\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m29\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m30\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m30\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m31,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m32,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m33\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m33\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-2132024427\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r3,m0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 644448977\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r3,m1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1495649872\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m2\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 583505871\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 223282632\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1940614679\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m5\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 527048944\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 527048944\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m7\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m8\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1399043327\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m9\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1399043327\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m10\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1399422001\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m11\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m12\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1271921973\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m13\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1634991128\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m14\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1634991128\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r3,m15\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -505290672\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -3947584\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -7895168\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -2138601473\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m16\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m17\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1774361297\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m18\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1206855011\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m19\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1206855011\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1646653256\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m20\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 662934198\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 662934198\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1043768576\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 6015425\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 384987200\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m21\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -2097980773\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m22\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -217750491\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r3,m23\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m24\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m25\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r3,m26\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m27\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m28\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r3,m29\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1816039537\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m30\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -646738706\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1757884704\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m31\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r3,m32\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m33\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data>END\n</data>
   </write>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5a8260c4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7f8f5121\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x841299e1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x15789207\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x665c684f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x54414d27\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x52e855f8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb2a96684\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xac9c4b01\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x76b9d23e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa6cd3130\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x18eda549\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb43002c8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xad43f94d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x772419c3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7f921bc8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6f6e0916\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x69c29ad0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x77fd61f3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x77c7314d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x89a981fe\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x93ff15a5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8fedf676\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7c37d1c6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x85064860\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xaa664572\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7a7ff9b6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x850bcd77\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe4c072e0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6c3e9071\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xba4de2a1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x44a9d640\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x90215f35\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3e3ec8e4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x266982d1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x266982d1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa6da31b0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa6da31b0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x22c797cf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x22c797cf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0d4f05c8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0d4f05c8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x73ab6e17\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x73ab6e17\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1f6a20f0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1f6a20f0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1f6a20f0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1f6a20f0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xac9c4b01\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xac9c4b01\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xac9c4b01\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xac9c4b01\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x53697c31\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x53697c31\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000003\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000003\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb43002cb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb43002cb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6173fc18\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6173fc18\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6173fc18\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6173fc18\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe1e1e050\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe1e1e050\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffc3c3c0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffc3c3c0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xff878780\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xff878780\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x808787ff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x808787ff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x963d652f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x963d652f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb810da9d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb810da9d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb810da9d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb810da9d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9dda10b8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9dda10b8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x278392b6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x278392b6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x278392b6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x278392b6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc1c95b00\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc1c95b00\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x005bc9c1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x005bc9c1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x16f27040\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x16f27040\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x82f35a9b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x82f35a9b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf3056425\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf3056425\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x93c16f8f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x93c16f8f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd9738cee\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd9738cee\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9738cee0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9738cee0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>COMPLETE\n</data></match></read>
</replay>
</pov>
