<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
<cbid>EAGLE_00004</cbid>
<replay>
   <write>
      <data>aPenFullOfSheep:)\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,1212822745\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 499714801\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1338508340\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m0,r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1833013061\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m1,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m2,r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1713264568\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m3,r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 237819446\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-2033892671\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m4\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m4\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m5,r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,1704111436\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 2099758027\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-200255970\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m6,r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1318609001\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1277564883\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m7,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m8\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m8\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,380710742\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1993768827\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 927414590\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m9,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m10,r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,1767693687\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1440016948\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m11,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m12\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m12\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m13,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m14\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m14\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m15\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m15\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m16,r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1163923314\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1967120668\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r3,m0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m1\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m2\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 499714801\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 999429602\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -713834966\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1559202432\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m4\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1559202432\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -822564864\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 11073742\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 248893188\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1793556992\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m6\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -8\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r3,m7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1277564875\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r3,m8\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m9\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 927414590\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -387504192\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m10\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1913694277\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1168642162\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r3,m11\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -271374786\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -33921849\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r3,m12\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m13\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m14\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m15\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m16\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data>END\n</data>
   </write>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4fc80434\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6d418f45\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1dc90af1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x99e1a848\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x86c542c1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0e2cd636\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf410561e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb3d9e82d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb1679f97\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3747393e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x89298085\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x55d4ea34\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x695cdd77\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x16b12f56\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7d27c3cb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6592ad4c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x484a34d9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x753fe11c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x753fe11c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1dc90af1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1dc90af1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3b9215e2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3b9215e2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd573be2a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd573be2a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5cef8a80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5cef8a80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5cef8a80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5cef8a80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xcef8a800\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xcef8a800\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00a8f8ce\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00a8f8ce\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0ed5cf04\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0ed5cf04\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6ae78200\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6ae78200\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfffffff8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfffffff8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4c2617cb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4c2617cb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3747393e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3747393e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe8e727c0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe8e727c0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7210a845\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7210a845\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x45a81072\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x45a81072\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xefd3263e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xefd3263e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfdfa64c7\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfdfa64c7\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>COMPLETE\n</data></match></read>
</replay>
</pov>
