<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
<cbid>EAGLE_00004</cbid>
<replay>
   <write>
      <data>aPenFullOfSheep:)\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1936085248\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m0,r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,1656912727\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1867049475\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m2,r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1200528933\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,145440697\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1074000349\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1591330790\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m4\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m4\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,1442984903\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1707508554\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1740249749\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m5\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m5\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 2011567977\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-917848037\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m6,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m7,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m8\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m8\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m9\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m9\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m10\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m10\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,1289267973\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m11\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m11\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m12\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m12\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,1253938035\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1450029385\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m13,r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1802160135\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 656001340\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m14\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m14\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m15,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m16,r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-774677774\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m17,r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1444410687\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 2125794799\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m18\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m18\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1495125981\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1281634534\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,992896417\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m19\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m19\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-860356383\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1625318063\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m20,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m21,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m22\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m22\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,2022683488\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -988796099\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1075160435\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m23,r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1804395121\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m24\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m24\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,674986813\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m25,r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1157646357\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1263218398\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1272420729\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m26,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m27\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m27\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1712693151\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1865619229\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m28\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m28\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m29\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m29\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1868317755\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1465413148\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m30\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m30\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m31\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m31\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m32\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m32\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m33,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m34\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m34\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m35,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m36,r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,1090338572\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -2114290152\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 410974849\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -2114290152\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -2114290152\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r3,m0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1198888960\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1439165609\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -44973926\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m2\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r3,m3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r3,m4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1591330790\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1826878208\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m5\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -727839339\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1794269484\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -112141843\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -112141843\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m7\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m8\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1707508554\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r3,m9\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 264523651\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m10\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m11\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m12\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r3,m13\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1450029385\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m14\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -2106030725\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 2072344706\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r3,m15\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r3,m16\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m17\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -774677774\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -374507264\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 7974377\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m18\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 7974377\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m19\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1000870794\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r3,m20\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m21\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m22\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r3,m23\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m24\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m25\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r3,m26\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1272420729\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -338903936\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -21181496\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m27\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1242036902\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 66933504\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 2091672\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m28\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1863527557\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -232940945\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -7279405\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -465881920\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r3,m29\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r3,m30\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r3,m31\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m32\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1157646357\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r3,m33\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m34\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -2022683487\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r3,m35\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m36\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1444410688\n</data>
      <data>END\n</data>
   </write>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x73665100\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x62c27b57\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x90b715fd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb87161db\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa126381a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9845e56b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc94ac01b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x77e61769\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9a397cb6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x560233c7\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4003f1dd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4cd8ab05\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x08ab3fb9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x566db149\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2719c93c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x949537f9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4abd9373\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd1d35af2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7eb50def\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3b2e65a1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9f1f9d51\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xccb800e1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb39bcf1a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbfea5a8d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x94731d8f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x283b7b3d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb4286687\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb4b4d122\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x90cce8e3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x99ea6061\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x57586e1c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x90a3bbc5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbaffb7eb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc5102b3d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x788fb360\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa6e23023\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa9e80ac1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x81fa7e18\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x81fa7e18\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x187efa81\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x187efa81\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x81fa7e18\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x81fa7e18\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x81fa7e18\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x81fa7e18\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x47759800\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x47759800\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xaa381357\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xaa381357\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfd51c09a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfd51c09a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5ed9c7e6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5ed9c7e6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6ce3f300\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6ce3f300\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd49e0d95\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd49e0d95\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x950d9ed4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x950d9ed4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf950d9ed\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf950d9ed\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf950d9ed\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf950d9ed\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x65c6834a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x65c6834a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0fc44f83\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0fc44f83\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa9924eb7\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa9924eb7\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8278857b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8278857b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7b857882\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7b857882\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd1d35af2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd1d35af2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe9ad7900\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe9ad7900\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0079ade9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0079ade9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0079ade9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0079ade9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3ba8138a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3ba8138a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4bd79979\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4bd79979\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xebccbc80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xebccbc80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfebccbc8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfebccbc8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4a07faa6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4a07faa6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x03fd5300\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x03fd5300\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x001fea98\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x001fea98\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x90ecd37b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x90ecd37b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf21d9a6f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf21d9a6f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xff90ecd3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xff90ecd3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe43b34c0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe43b34c0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbaffb7eb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbaffb7eb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x87704ca1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x87704ca1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5617f540\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5617f540\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>COMPLETE\n</data></match></read>
</replay>
</pov>
