<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
<cbid>EAGLE_00004</cbid>
<replay>
   <write>
      <data>aPenFullOfSheep:)\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1156248961\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1687858608\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m1,r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1777310610\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1457268267\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1202109955\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m2,r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1675386248\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m3,r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1370314229\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1045708551\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m4\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m4\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m5,r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-194006496\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1643470937\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,958877066\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m6\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m6\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m7,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m8,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m9,r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1360281082\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1429239824\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1685246686\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1757165667\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-582540146\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m10\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m10\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m11,r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1530292948\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m12,r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1912789923\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m13,r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1075718527\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m14,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m15,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m16,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m17,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m18,r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -2044700644\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m19,r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1333732756\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m20,r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1615558002\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -737501943\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1158534918\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -429694854\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1746862819\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m21\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m21\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m22\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m22\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1515691714\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1544004849\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1764050299\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1966876135\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m23,r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -2124582570\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m24\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m24\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m25\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m25\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 434198617\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1780709748\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,1542979653\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -208941099\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 776875331\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m26,r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1755332648\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m27,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m28,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m29,r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1588435059\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m30\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m30\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,1466909067\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m31\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m31\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -858813407\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1422770690\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m32\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m32\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m33,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m34,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m35,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m36,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m37,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m38\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m38\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m39,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m40\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m40\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-2138623148\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m0\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1000095187\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -687763421\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m2\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 642733463\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 642733463\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r3,m4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -969375777\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r3,m5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1866099563\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -233262446\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -233262446\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 725614620\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m7\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 725614620\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 362807310\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m8\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 556813806\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2067712072\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m9\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -610443805\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m10\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1192983951\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m11\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1192983951\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1904403640\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r3,m12\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -639002528\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -39937658\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m13\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1952727581\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -474113141\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m14\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -474113141\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m15\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -474113141\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m16\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1903352965\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m17\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1031333249\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 257833312\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r3,m18\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1055270720\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m19\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1055270720\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1059579455\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1059579455\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m20\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1059579455\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r3,m21\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m22\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -429694854\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m23\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1898396307\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m24\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -271988419\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m25\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1274928817\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m26\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 498053486\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 498053486\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r3,m27\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2041581162\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m28\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 9\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m29\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1542979644\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r3,m30\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1163552593\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1365727813\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m31\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 133466231\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 2005464071\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -499318336\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -62414792\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m32\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1360355898\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 10627780\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 85022240\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m33\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 85022240\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m34\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1695687508\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1394807398\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m35\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -3\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r3,m36\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1544004846\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -532863120\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r3,m37\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 982828594\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r3,m38\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -595942612\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m39\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m40\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data>END\n</data>
   </write>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbb150a7f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9b655250\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb85941fd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x63dc5d88\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc1abc0f9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xae52aa0b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x39274d8a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9e0a9fa7\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf46fb220\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x56dc262b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdd47248e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9743c79d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5b366ad4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8dfd245d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x401e297f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6472d2de\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xaacf87f0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xaeebc206\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x69ef9b92\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8620581c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb080da6c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x681f02e3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe663607a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8ac3da19\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x815d7156\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x96daba85\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2e4e2d43\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x975fbfd8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf38bcfd5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5bf80045\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5ead9873\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x576f418b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x54cdc202\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xcccf8c21\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6a237974\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x19e15859\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa3f85b0f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa5a8613e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x450dd706\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd40a9d09\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9fb48a8e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3b9c3dd3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3b9c3dd3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd7019023\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd7019023\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x264f5597\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x264f5597\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x264f5597\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x264f5597\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc6387fdf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc6387fdf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x90c59495\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x90c59495\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf218b292\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf218b292\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf218b292\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf218b292\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2b40001c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2b40001c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2b40001c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2b40001c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x15a0000e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x15a0000e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x21304dee\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x21304dee\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x84c137b8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x84c137b8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdb9d5de3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdb9d5de3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb8e48271\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb8e48271\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb8e48271\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb8e48271\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7182e4b8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7182e4b8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd9e99860\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd9e99860\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfd9e9986\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfd9e9986\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8b9bbde3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8b9bbde3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe3bd9b8b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe3bd9b8b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe3bd9b8b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe3bd9b8b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe3bd9b8b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe3bd9b8b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8e8d237b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8e8d237b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3d78e581\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3d78e581\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0f5e3960\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0f5e3960\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc119d8c0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc119d8c0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc119d8c0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc119d8c0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc0d819c1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc0d819c1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc0d819c1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc0d819c1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc0d819c1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc0d819c1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe663607a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe663607a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x71273a93\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x71273a93\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xefc9c93d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xefc9c93d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4bfddeb1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4bfddeb1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1dafb16e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1dafb16e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1dafb16e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1dafb16e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x864ff196\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x864ff196\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000009\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000009\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa407ffc4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa407ffc4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x455a6751\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x455a6751\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x51675a45\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x51675a45\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x07f48877\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x07f48877\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7788f407\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7788f407\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe23d01c0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe23d01c0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfc47a038\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfc47a038\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5115623a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5115623a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00a22ac4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00a22ac4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x05115620\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x05115620\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x05115620\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x05115620\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9aeddcac\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9aeddcac\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xacdced9a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xacdced9a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfffffffd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfffffffd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5c07a4ee\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5c07a4ee\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe03d2770\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe03d2770\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3a94c632\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3a94c632\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdc7aa32c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdc7aa32c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>COMPLETE\n</data></match></read>
</replay>
</pov>
