<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
<cbid>EAGLE_00004</cbid>
<replay>
   <write>
      <data>aPenFullOfSheep:)\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -835229859\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m0,r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1192179232\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-2065693190\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m2,r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-559583499\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -2065505684\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1231960836\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m3,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m4\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m4\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1758276096\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m5,r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,1105077334\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,680621297\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m6\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m6\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m7,r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,1560137983\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m8\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m8\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -605206736\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m9,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m10,r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1856618913\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 581729470\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r2,m0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1347697914\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r2,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -336924479\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1095824368\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1468401664\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m1\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r2,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -760872442\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1451196032\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2138996567\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r2,m2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -946817335\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r2,0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -946817335\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r2,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -473408668\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -473408668\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r2,m3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 758552168\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m4\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r2,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1306953516\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -730326606\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1306953516\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r2,m5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1306953516\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2040646400\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m6\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r2,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r2,3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r2,m7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1105077332\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r2,m8\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1105077332\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1411702337\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m9\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r2,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1572516656\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m10\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r2,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 2132100155\n</data>
      <data>END\n</data>
   </write>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xce37675d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x84e005fa\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb8f0c9e0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb691c4fc\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x84e2e26c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x68cd2a00\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x289174f1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x41de2456\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5cfdd0ff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdbed4730\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdea56ef5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x22ac7cbe\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x22ac7cbe\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xafabc306\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xafabc306\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xebeaf0c1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xebeaf0c1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbeaf0c10\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbeaf0c10\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x57860800\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x57860800\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd2a60206\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd2a60206\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa9808180\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa9808180\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x808180a9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x808180a9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc790b6c9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc790b6c9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc790b6c9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc790b6c9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe3c85b64\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe3c85b64\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe3c85b64\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe3c85b64\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2d369668\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2d369668\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb21978d4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb21978d4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd47819b2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd47819b2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb21978d4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb21978d4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb21978d4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb21978d4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x865e3500\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x865e3500\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfffffffe\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfffffffe\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfffffffe\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfffffffe\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x41de2454\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x41de2454\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x41de2454\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x41de2454\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5424de41\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5424de41\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5dbab330\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5dbab330\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7f15443b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7f15443b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>COMPLETE\n</data></match></read>
</replay>
</pov>
