<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
<cbid>EAGLE_00004</cbid>
<replay>
   <write>
      <data>aPenFullOfSheep:)\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -2045501254\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1580285527\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m1,r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 884105163\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1481637852\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m3,r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1882614746\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m4\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m4\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,1356226925\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m5\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m5\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1351335337\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m6\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m6\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,1660092648\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 2134774409\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,1999111824\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1920233699\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -806216628\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m7\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m7\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m8,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m9\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m9\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m10\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m10\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m11\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m11\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,1091978594\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m0\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1091978594\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 34124331\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m1\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1546161196\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -662056033\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2143693885\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1071846943\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -504816448\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -3943879\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r3,m4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r3,m6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m7\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 806216628\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m8\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -92252316\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m9\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1906859508\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m10\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1906859508\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m11\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 246766860\n</data>
      <data>END\n</data>
   </write>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x861420ba\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa1cec1a9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x34b25fcb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa7b00024\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x70366bda\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x50d6616d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xaf744257\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xcff21c4c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8d8b8f1d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x77280690\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7f3e1289\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x62f300e8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x41164562\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x41164562\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0208b22b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0208b22b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa3d773d4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa3d773d4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd889d39f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd889d39f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8039d3c3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8039d3c3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc01ce9e1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc01ce9e1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe1e91cc0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe1e91cc0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffc3d239\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffc3d239\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x300de3b4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x300de3b4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfa805764\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfa805764\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x71a85df4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x71a85df4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x71a85df4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x71a85df4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0eb55d0c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0eb55d0c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>COMPLETE\n</data></match></read>
</replay>
</pov>
