<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
<cbid>EAGLE_00004</cbid>
<replay>
   <write>
      <data>aPenFullOfSheep:)\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1966732877\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m0,r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1878995685\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 2125021915\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1626694869\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m2,r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-2100215845\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -2115375902\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1261630546\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -2118577906\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m4,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m5\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m5\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,2006821956\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1528719776\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m6,r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1298981665\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m7\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m7\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m8\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m8\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m9\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m9\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1629472557\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1984561195\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1267896874\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1103864216\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,255678538\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m10,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m11\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m11\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1938324734\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 2118844789\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1124854870\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m12,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m13,r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -2129986556\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m14\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m14\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,1373561060\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m15\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m15\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m16,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m17\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m17\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m18,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m19\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m19\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m20\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m20\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-538230219\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -538230219\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m1\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 5262679\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 42101432\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r3,m2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1261630546\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r3,m4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1615122044\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2077115489\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 281472636\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 8796019\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m5\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1673136250\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1093111270\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -426956991\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1093111270\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m7\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1902874361\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m8\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 385270979\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r3,m9\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 146362321\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m10\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 146362321\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m11\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -957501895\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1859838864\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r3,m12\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 734983994\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m13\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1441138513\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 217864064\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r3,m14\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1912122492\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m15\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1009283744\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1603131332\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1009283744\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r3,m16\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r3,6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m17\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m18\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r3,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1984561195\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m19\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r3,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1588038513\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r3,6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -24813102\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -765360642\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r3,m20\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data>END\n</data>
   </write>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8ac609b3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7ea942db\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x60f564d5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb4cd0bae\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x81b9110e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x81e9ece2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa4e19660\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb2931cdf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x779dac44\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x82d13fdb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0f3d584a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x41cba198\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x430bec56\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7e4b0175\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x810afc04\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x51dee0e4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x73887cfe\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb46d6dd6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x89b5ffd5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9ee038d3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9000cd1b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdfeb4235\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdfeb4235\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00504d57\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00504d57\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x02826ab8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x02826ab8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb4cd0bae\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb4cd0bae\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9fbb3184\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9fbb3184\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8431bb9f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8431bb9f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x10c6ee7c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x10c6ee7c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00863773\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00863773\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9c45f786\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9c45f786\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x41278de6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x41278de6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe68d2741\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe68d2741\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x41278de6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x41278de6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8e947107\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8e947107\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x16f6c4c3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x16f6c4c3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x08b94fd1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x08b94fd1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x08b94fd1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x08b94fd1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc6edae39\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc6edae39\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6edae390\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6edae390\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2bcef73a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2bcef73a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xaa19f8af\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xaa19f8af\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0cfc5780\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x0cfc5780\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8e075384\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8e075384\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3c2872a0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3c2872a0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa072283c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa072283c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3c2872a0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3c2872a0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x89b5ffd5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x89b5ffd5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa158748f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa158748f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfe8561d2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfe8561d2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd26185fe\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd26185fe\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>COMPLETE\n</data></match></read>
</replay>
</pov>
