<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
<cbid>EAGLE_00004</cbid>
<replay>
   <write>
      <data>aPenFullOfSheep:)\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,-1984070191\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1828185629\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m0,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m1,r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1300966145\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1943979696\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m2,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -724634483\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1976258206\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 2092295867\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1712926869\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1445665789\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m4\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m4\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m5,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m6\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m6\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m7,r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-1539965774\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1333724017\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m8\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m8\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,1286033215\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m9\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m9\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m10\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m10\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m11,r3\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1429325297\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-227094712\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m12,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m13,r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1839196880\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -723932205\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m14\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m14\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1816153117\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1586385216\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1702234083\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1800936464\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m15,r3\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,2044800283\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m16\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m16\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -2030643937\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m17\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m17\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m18,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m19\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m19\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m20\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m20\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m21\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m21\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1529302068\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r1,m0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 298883561\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r1,m1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1685186630\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r1,m2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1685186630\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m3\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r1,m4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1445665788\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r1,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 361627136\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r1,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 90406784\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m5\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1045509504\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r1,m6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1046786363\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r1,m7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1046786363\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r1,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -431287376\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r1,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 629790720\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m8\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1963514737\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1910179957\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r1,m9\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 1\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r1,m10\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1539965773\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m11\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 2\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 33554432\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r1,m12\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r1,m13\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,m14\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r1,r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 723932205\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m15\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1077004259\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r1,m16\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1077004259\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 490262207\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1077004259\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 490262207\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m17\n<REPLACEME>MOD_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 490262207\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m18\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r1,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1211971876\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m19\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r1,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> -1482337536\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r1,m20\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 996476643\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r1,m21\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> 996476643\n</data>
      <data>END\n</data>
   </write>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x930819e3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x89bd7dd1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8c213950\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4d8b2b01\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x562b1bfd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x99e6cf6b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7cb5e6bb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x75cb4e9e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb080fc8f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4ca74f3f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa435fcb2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd4cef48d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf276cf48\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xaace3a0f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd4d9abd3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6b581c10\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x79e12d1b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x86f6d51f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x657607e3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5e8e5140\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6c404c1d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x92601530\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x11d099e9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x11d099e9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9b8e17ba\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9b8e17ba\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9b8e17ba\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9b8e17ba\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x562b1bfc\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x562b1bfc\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x158dfe00\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x158dfe00\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x05637f80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x05637f80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc1aeca80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc1aeca80\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3e64b13b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3e64b13b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3e64b13b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3e64b13b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe64b13b0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe64b13b0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2589d800\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2589d800\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7508db71\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7508db71\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x71db0875\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x71db0875\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa435fcb3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa435fcb3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000002\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000002\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x02000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x02000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2b26542d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2b26542d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbfce381d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbfce381d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbfce381d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbfce381d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1d38cebf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1d38cebf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbfce381d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbfce381d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1d38cebf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1d38cebf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1d38cebf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1d38cebf\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb7c2c6dc\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb7c2c6dc\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa7a55300\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa7a55300\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3b6506e3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3b6506e3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3b6506e3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3b6506e3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>COMPLETE\n</data></match></read>
</replay>
</pov>
