<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
<cbid>EAGLE_00004</cbid>
<replay>
   <write>
      <data>aPenFullOfSheep:)\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -359254613\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1343285008\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m1,r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -638438546\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m2,r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1988154156\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -990211829\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1650976470\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m4,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m5\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m5\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1047728202\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,755642563\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,158747322\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m6,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m7,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m8\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m8\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1677251683\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 502039283\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1820959396\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1909479111\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m9,r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-558721745\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m10,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m11,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m12,r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,2103278843\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m13\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m13\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m14\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m14\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1251897962\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1060450346\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1881447582\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,-1525575027\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1957536576\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1865355100\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1050816982\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,1861623703\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1944728757\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m15\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m15\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m16,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m17\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m17\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m18\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m18\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m19\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m19\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m20\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m20\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m21,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m22,r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m23\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m23\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-2070040138\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r0,m0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 5\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r0,m1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 5\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,m2\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r0,r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1102774566\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r0,m3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1541216260\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -51961180\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r0,6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 969451776\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r0,m4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1959663605\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r0,m5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -28490551\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r0,m6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -187237873\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r0,m7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 909724013\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r0,m8\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1558378110\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r0,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1178211076\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r0,m9\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1178211076\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r0,m10\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m11\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r0,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1820959394\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r0,m12\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -848536518\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m13\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r0,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1343151935\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m14\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r0,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1274563678\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m15\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r0,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -771561078\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r0,m16\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1661782515\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r0,m17\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1582367799\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r0,m18\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 282987301\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m19\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r0,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 459515840\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r0,m20\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m21\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r0,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1881447582\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1650711439\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r0,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 103169464\n</data>
      <data><REPLACEME>MOD_MNEMONIC</REPLACEME> r0,m22\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 103169464\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r0,m23\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -622756304\n</data>
      <data>END\n</data>
   </write>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xea9635ab\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xafef18f0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd9f2336e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6267e6d6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc4fa910b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x897f2cd4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x09764aba\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x2d0a30c3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc18cefb6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x71d056c7\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdeb2952f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x93765d5c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1dec82f3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7d5d7cfb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9c072b9d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x73ea34b5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6ef61f97\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc15dce2a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x90d0f0a4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8b525cc0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa511928d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8fdb6362\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xc0cacfd6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4a9e726a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000005\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000005\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000005\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000005\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x41bb0126\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x41bb0126\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa422e7fc\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa422e7fc\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfce722a4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfce722a4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x39c8a900\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x39c8a900\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x74ce17f5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x74ce17f5\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfe4d44c9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfe4d44c9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf4d6fa0f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf4d6fa0f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3639496d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3639496d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5ce2f67e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5ce2f67e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb9c5ecfc\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb9c5ecfc\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb9c5ecfc\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb9c5ecfc\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000002\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000002\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x93765d5e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x93765d5e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xcd6c5c3a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xcd6c5c3a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x500edf3f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x500edf3f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb407b3a2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb407b3a2\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd202e98a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd202e98a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x630cc9f3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x630cc9f3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa1aefbc9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa1aefbc9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x10de0b25\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x10de0b25\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1b63a7c0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1b63a7c0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8fdb6362\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8fdb6362\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6263db8f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6263db8f\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x06263db8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x06263db8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x06263db8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x06263db8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdae17e30\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdae17e30\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>COMPLETE\n</data></match></read>
</replay>
</pov>
