<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
<cbid>EAGLE_00004</cbid>
<replay>
   <write>
      <data>aPenFullOfSheep:)\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1490799847\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,1313964523\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1736534505\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -2121871529\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1267612897\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1134341588\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m2\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1849007203\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m4,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m5\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m5\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1683758983\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m6\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m6\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 986085484\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m7\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m7\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -574646300\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1864095341\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> -1790978479\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1178427166\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r3\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r3\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m8,r3\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m9\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m9\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1814356117\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m10\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m10\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-1263273865\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m11,r2\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m12\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m12\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m13\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m13\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,1516174732\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m14,r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,-2003915437\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m15\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m15\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r0\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r0\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m16,r0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,898364016\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1496070843\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m17,r1\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1015794915\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m18\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m18\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r0,-2126594106\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r0\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r1\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r1\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m19,r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> r2\n<REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n<REPLACEME>MOV_MNEMONIC</REPLACEME> m20,r2\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,1390531786\n<REPLACEME>PUSH_MNEMONIC</REPLACEME> r1\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m21\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m21\n</data>
      <data><REPLACEME>PUSH_MNEMONIC</REPLACEME> 1918411005\n</data>
      <data><REPLACEME>POP_MNEMONIC</REPLACEME> m22\n<REPLACEME>OUT_MNEMONIC</REPLACEME> m22\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r2,618407894\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -702030812\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r2,7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -5484616\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1202737921\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m0\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r2,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1944407577\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m1\n<REPLACEME>MUL_MNEMONIC</REPLACEME> r2,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1136806387\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r2,m2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m3\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r2,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1849007204\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1687958894\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1838099016\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r2,0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1838099016\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m4\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r2,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,0\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -32\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r2,m5\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 2121871497\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m6\n<REPLACEME>ADD_MNEMONIC</REPLACEME> r2,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 438112514\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r2,m7\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -547972970\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r2,m8\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1726400136\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r2,m9\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -2087878920\n</data>
      <data><REPLACEME>SHR_MNEMONIC</REPLACEME> r2,4\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -130492433\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -260984866\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m10\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r2,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1553371251\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1938855516\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r1,m11\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r2,r1\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m12\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r2,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1864095340\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r2,m13\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -3\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r2,m14\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1516174729\n</data>
      <data><REPLACEME>SWP_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -1979883942\n</data>
      <data><REPLACEME>MUL_MNEMONIC</REPLACEME> r2,m15\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 466905390\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r2,m16\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m17\n<REPLACEME>DIV_MNEMONIC</REPLACEME> r2,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r2,m18\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1015794915\n</data>
      <data><REPLACEME>DIV_MNEMONIC</REPLACEME> r2,m19\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 0\n</data>
      <data><REPLACEME>SUB_MNEMONIC</REPLACEME> r2,m20\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -898364016\n</data>
      <data><REPLACEME>MOV_MNEMONIC</REPLACEME> r3,m21\n<REPLACEME>SUB_MNEMONIC</REPLACEME> r2,r3\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 2006071494\n</data>
      <data><REPLACEME>SHL_MNEMONIC</REPLACEME> r2,6\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> -460443264\n</data>
      <data><REPLACEME>ADD_MNEMONIC</REPLACEME> r2,m22\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> r2\n</data>
      <data><REPLACEME>OUT_MNEMONIC</REPLACEME> 1457967741\n</data>
      <data>END\n</data>
   </write>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xa7243319\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4e5181eb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbc63522c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6e359c63\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x4b8e3ce1\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8186cf57\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9ba3e079\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3ac6786c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x463d5f1e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x953fd651\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x93db1f6b\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb4b3f877\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x90e42993\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xddbf97e4\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5a5efd8c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x888ead53\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x678169e9\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x592c3abb\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3c8bcce3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x813ebfc6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x358bf270\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x52e1d4ca\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7258a0fd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd627dc24\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xd627dc24\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffac4fb8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffac4fb8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb84facff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xb84facff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8c1ab1e7\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x8c1ab1e7\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbc3db60d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xbc3db60d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000001\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6e359c64\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6e359c64\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x649c356e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x649c356e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9270d5b8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9270d5b8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9270d5b8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x9270d5b8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffe0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffe0\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7e793089\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7e793089\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1a1d1102\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1a1d1102\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdf569896\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xdf569896\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x99193978\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x99193978\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x838d7ef8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x838d7ef8\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf838d7ef\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf838d7ef\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf071afde\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xf071afde\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5c969073\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5c969073\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7390965c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x7390965c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xffffffff\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6f1bd66c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x6f1bd66c\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfffffffd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xfffffffd\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5a5efd89\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x5a5efd89\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x89fd5e5a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x89fd5e5a\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1bd4692e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x1bd4692e\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3c8bcce3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x3c8bcce3\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x00000000\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xca740d90\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xca740d90\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x779238c6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x779238c6\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe48e3180\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0xe48e3180\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x56e6d27d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>OUT: 0x56e6d27d\n</data></match></read>
   <read echo="ascii"><delim>\n</delim><match><data>COMPLETE\n</data></match></read>
</replay>
</pov>
