<?xml version="1.0" standalone="no" ?>
<!DOCTYPE pov SYSTEM "/usr/share/cgc-docs/replay.dtd">
<pov>
    <cbid>benchmark</cbid>
    <replay>
        <write>
            <data><REPLACEME>SIX_CHAR</REPLACEME>,<REPLACEME>ZERO_CHAR</REPLACEME>,<REPLACEME>ZERO_CHAR</REPLACEME>,<REPLACEME>ZERO_CHAR</REPLACEME>.........................................................................................................................</data>
        </write>
        <read><length>1</length></read>
    </replay>
</pov>
